
html{
    background-color: lightgoldenrodyellow;
}

a { 
    background-color: grey;
    color: white;
    padding: 14px 25px;
    border-radius: 2pt;
    margin: 3pt;
    text-align: center; 
    text-decoration: none;
    display: grid;
    font-family: sans-serif;

}

a:hover {
    color: gray;
    background-color: white;
    font-size: 13pt;
    transition-duration: 0.1s;
    height: 19px;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

h1:hover {
    font-size: 100pt;
    transition-duration: 100s;
    transition-delay: 10s;
}

.links {
    margin-left: auto;
    margin-right: auto;
    padding: 2pt;
    width: 40%;
}

.flash_container {
    padding: 40pt;
}











